.git/**
.github/**
.vscode/**
.config/**
.venv/**
src/**
build/**
ECMA-376/**
node_modules/**
**/*.fs
**/*.fsproj
**/*.fsx
**/tsconfig.json
**/*.map
*.vsix
*.log
.gitignore
.editorconfig
package-lock.json
DEVELOPMENT.md
PUBLISHING.md
media/icon.svg
